source activate ruspy_analysis


# We need access to robupy submodule
export PYTHONPATH=$PWD/submodules/robupy $PYTHONPATH

# We need access to robupy submodule
export PYTHONPATH=$PYTHONPATH:$PWD/submodules/ruspy

# We need to be able execute our auxilary scripts
export PATH=$PWD/bin:$PATH

# We need some pretty formatting of the plots
export MATPLOTLIBRC=$PWD/configurations

export PROJECT_ROOT=$PWD


