source activate ruspy_analysis

# We need access to ruspy submodule
export PYTHONPATH=$PWD/submodules/ruspy

# We need to be able execute our auxilary scripts
export PATH=$PWD/bin:$PATH

export PROJECT_ROOT=$PWD


