source activate ruspy_analysis


# We need to have access to our submodules
export PYTHONPATH=$PWD/submodules/robupy
export PYTHONPATH=$PYTHONPATH:$PWD/submodules/ruspy
export PYTHONPATH=$PYTHONPATH:$PWD/submodules/zurcher-data
export PYTHONPATH=$PYTHONPATH:$PWD/python
export PYTHONPATH=$PYTHONPATH:$PWD/python/figures_application_scripts

# We need to be able execute our auxilary scripts
export PATH=$PWD/bin:$PATH

# We need some pretty formatting of the plots
export MATPLOTLIBRC=$PWD/configurations
export JUPYTER_CONFIG_DIR=$PWD/configurations/jupyter
export IPYTHONDIR=$PWD/configurations/ipython



export PROJECT_ROOT=$PWD
export DIR_FIGURES=$PWD/figures

