.ipynb*
.ipynb_checkpoints/
.idea
__pycache__/
*/ipython/profile_default/history.sqlite
*/jupyter/migrated*
*.pbs
*.png
fixp_results_5000_50_400_2223.pkl
fixp_results_5000_50_400_4292.pkl
sim_results/
val_results/
validation_results/
validation_results_revisited.zip
demonstration.pkl


