[submodule "submodules/ruspy"]
	path = submodules/ruspy
	url = https://github.com/OpenSourceEconomics/ruspy.git
[submodule "submodules/robupy"]
	path = submodules/robupy
	url = https://github.com/OpenSourceEconomics/robupy.git
