.ipynb*
.ipynb_checkpoints/
.idea
__pycache__/
*/ipython/profile_default/history.sqlite
*/jupyter/migrated*
*.pbs
*.png
fixp_results_1000_10_10_4292.pkl
fixp_results_1000_full_10_10_2223.pkl
sim_results/
validation_results_2223/
validation_results_4292/


